<div class="jumbotron text-center" style="margin-bottom:0">
	<h1>Moby Dick</h1>
	<p>Container and Image management application</p>
	<img height="100" width="100" src="../../assets/docker.png">


</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom:20px">
  <a class="navbar-brand" href="/containers">Containers</a>
  <a class="navbar-brand" href="/images">Images</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
	
		</ul>
	</div>
</nav>